* { 
	margin: 0; 
	padding: 0; 
}



#header {
	text-align: center;
	background-image: url(chain-link.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 350px;
	max-height: 400px;
	line-height: 400px;
}

#category {
	background-color: beige;
	padding: 1.5%;
	margin-bottom: 1.3%;
}

#northeastern {
	padding-bottom: 3%;
}

#runkeeper {
	padding-bottom: 3%;
}

.section {
	padding-bottom: 3%;
}

.university {
	margin-left: 2.5%
}



h1 {
	font-family: 'Helvetica', sans-serif;
	color: black;
	font-size: 10vw;
	top: 50%;
}

h2 {
	font-family: 'Helvetica', sans-serif;
	color: black;
	text-align: center;
	font-size: 3vw;
}

h3 {
	font-family: 'Helvetica', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 2vw;
}

p1 {
	font-family: 'Helvetica', sans-serif;
	font-size: 2vw;
}

img {
	position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
}


th {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 1.5vw;
}

td {
	font-family: 'Helvetica', sans-serif;
	text-align: center;
	font-size: 1.5vw;
}
